<!-- Main Header -->
<header class="main-header">
  <div class="logo-area">
    <img src="../../../assets/img/logo.png" alt="logo" class="logo-img" />
    <div class="logo-text">
      <h2>Truvento Company
</h2>
    </div>
  </div>
  <div class="info-area">
    <div class="info-block">
      <i class="fas fa-phone-alt"></i>
      <div>
        <strong>08063445204</strong>
        <p>24 x 7 online support</p>
      </div>
    </div>
    <div class="info-block">
      <i class="fas fa-envelope"></i>
      <div>
        <strong>Olaniyiitunu21@gmail.com</strong>
        <p>24 x 7 online support</p>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top border-top border-4 border-dark px-4">
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="mainNavbar" style="width: 90%;">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-3">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/publishers">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/advantages">Advantages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/advertisers">Advertisers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
