<div class="login-container">
  <div class="login-box text-center">
    <h2> Admin Login</h2>
    <p class="subtext">Please fill in your unique admin login details below</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label>Username</label>
      <input   type="text"
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
      />

      <label>Password</label>
      
       <div class="password-wrapper">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="password"
    name="password"
    placeholder="Password"
    required
  />
<span class="eye-icon" (click)="togglePasswordVisibility()">
  <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
</span>

</div>

      

      <button 
       type="submit" 
        class="btn"
        [disabled]="loginForm.invalid">Sign In</button>
    </form>
  </div>
</div>

