.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef2f5;
}

.login-box {
  padding: 30px;
  border: 10px solid #14192d;
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-box input {
  width: 80%; /* Adjust to your desired width */
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 4px;
}
.login-box .btn {
  width: 80%;
  margin-top: 10px;
}
