<!-- Footer -->
<footer class="pt-5 pb-4">
    <div class="container">
        <div class="row text-start gy-4">

            <!-- Office Info -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white fw-bold mb-4">Our Office</h5>
                <p><i class="fas fa-map-marker-alt me-2 "></i>NO. 10 New-Ife Road, Ibadan.</p>
                <p>
                    <i class="fas fa-envelope me-2 "></i>
                    <a 
                        class="text-decoration-none ">Olaniyiitunu@truventoonline.com</a>
                </p>
                <div class="footer-social d-flex mt-3">
                    <a routerLink="#" class="btn"><i class="fab fa-twitter"></i></a>
                    <a routerLink="#" class="btn"><i class="fab fa-facebook-f"></i></a>
                    <a routerLink="#" class="btn"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/olaniyi-itunu-36a058298?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="btn"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 col-md-6 footer-links">
                <h5 class="text-white fw-bold mb-4">Quick Links</h5>
                <p><i class="fas fa-angle-right me-2 "></i><a routerLink="/about">About Us</a></p>
                <p><i class="fas fa-angle-right me-2 "></i><a routerLink="/contact">Contact Us</a></p>
                <p><i class="fas fa-angle-right me-2 "></i><a routerLink="/services">Services</a></p>
                <p><i class="fas fa-angle-right me-2 "></i><a routerLink="/advantages">Advantages</a></p>
            </div>

            <!-- Business Hours -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white fw-bold mb-4">Business Hours</h5>
                <p>Monday - Friday<br><strong>09:00 am - 07:00 pm</strong></p>
                <p>Saturday - Sunday<br><strong>Closed</strong></p>
            </div>

            <!-- CTA Block -->
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white fw-bold mb-4">Choose Excellence in Advertising</h5>
                <p>Choose Truvento Company
, and let us help you transform your advertising efforts into measurable success.
                </p>
               <button type="button" class="btn" > <a href="https://truvento10037144.offer18.com/m/signup"  target="_blank">Sign up</a></button>
             </div>
        </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom text-center py-3 mt-4 d-flex justify-content-between align-items-center px-4">
        <div>
            &copy; <span class="footer-logo">Morrhtech Solutions</span>, All Right Reserved.
        </div>
    </div>
</footer>